@model List<Product>
@{
    ViewData["Title"] = "Sản phẩm yêu thích";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string phanTram = "%";
}
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumbProduct.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="breadcrumb__text white__color__link">
                    <h2>Sản phẩm yêu thích</h2>
                    <div class="breadcrumb__option">
                        <a asp-action="Index" asp-controller="Home">Trang chủ</a>
                        <span>Sản phẩm yêu thích</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
    <div class="container">
        @if (Model != null && Model.Count > 0)
        {
            <div class="row white__bk pb-5 pt-5">
                <div class="col-12">
                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="shoping__product">Sản phẩm</th>
                                    <th>Giá</th>
                                    <th>Giảm giá</th>
                                    <th>Thành tiền</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    string url = $"/San-pham/{@item.Alias}-{item.ProductId}";
                                    int? price = item.Price;
                                    if (item.Price.HasValue && item.Discount > 0)
                                    {
                                        price = item.Price - (item.Price * item.Discount) / 100;
                                    }
                                    <tr>
                                        <td class="shoping__cart__item">
                                            <img src="~/images/products/@item.Thumb" alt="@item.Title">
                                            <a href="@url">@item.ProductName</a>
                                        </td>
                                        <td class="shoping__cart__price">
                                            @item.Price.Value.ToString("#,##0")
                                        </td>
                                        <td class="shoping__cart__price">
                                            @item.Discount@phanTram
                                        </td>
                                        <td class="shoping__cart__total">
                                            @price.Value.ToString("#,##0")
                                        </td>
                                        <td class="shoping__cart__item__close">
                                            <a class="icon_close"></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row white__bk pb-5 pt-5">
                <div class="col-12">
                    <h2>Bạn chưa có sản phẩm nào trong danh sách sản phẩm yêu thích!</h2>
                    <a href="/San-pham">Đi tìm sản phẩm yêu thích nào!!!!</a>
                </div>
            </div>
        }
    </div>
</section>
<!-- Shoping Cart Section End -->
