@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<WebsiteKaichiTokyo.Models.Customer>
@{
    int currentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Danh sách khách hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Danh sách khách hàng</h1>
<div class="page-header">
    <nav class="breadcrumb">
        <span class="breadcrumb-item active">Danh sách khách hàng: trang @currentPage</span>
    </nav>
</div>
<div class="card">
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Họ và tên</th>
                        <th>SĐT</th>
                        <th>Email</th>
                        <th>Địa chỉ</th>
                        <th>Trạng thái</th>
                        <th>Ngày tạo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CustomerId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Phone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td id="address__compact">
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Active)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreateDate)
                                </td>
                                <td>
                                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.CustomerId">Edit</a>
                                    <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.CustomerId">Details</a>
                                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.CustomerId">Delete</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div aria-label="Page navigation example">
            <ul class="pagination">
                <pager class="btn-success pager-container" list="@Model" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Index" />
            </ul>
        </div>
    </div>
</div>