@model IEnumerable<WebsiteKaichiTokyo.Models.Role>

@{
    ViewData["Title"] = "Danh sách quyền truy cập";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="section-header">
    <h1>Danh sách quyền truy cập</h1>
</div>
<div class="section-body">
    <div class="card card-info">
        <div class="card-header">
            <h4></h4>
            <div class="card-header-action">
                <a class="btn btn-outline-primary" asp-controller="AdminRoles" asp-action="Create"><i class="fa fa-plus-square space-icon"></i>Thêm quyền truy cập</a>
            </div>
        </div>
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-striped table-md text-dark">
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                Tên quyền truy cập
                            </th>
                            <th>
                                Mô tả
                            </th>
                            <th class="text-center"><i class="fas fa-th"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem=>item.RoleId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RoleName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td class="text-center">
                                        <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.RoleId"><i class="fa fa-pencil space-icon"></i>Sửa</a>
                                        <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.RoleId"><i class="fa fa-eye space-icon"></i>Chi tiết</a>
                                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.RoleId"><i class="fa fa-trash space-icon"></i>Xóa</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>