@model WebsiteKaichiTokyo.Models.Order

@{
    ViewData["Title"] = "Chi tiết hóa đơn " + Model.OrderId;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    List<OrderDetail> orderDetailList = ViewBag.OrderDetailList;
    string currency = "₫";

}

<div class="section-header">
    <h1>Thông tin hóa đơn</h1>
</div>
<div class="section-body">
    <div class="card">
        <div class="card-body">
            <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
                <tbody>
                    <tr>
                        <td align="center" valign="top">
                            <table border="0" cellpadding="0" cellspacing="0" width="600" style="background-color:#ffffff;border:1px solid #dedede;border-radius:3px">
                                <tbody>
                                    <tr>
                                        <td align="center" valign="top">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#338218;color:#ffffff;border-bottom:0;font-weight:bold;line-height:100%;vertical-align:middle;font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif;border-radius:3px 3px 0 0">
                                                <tbody>
                                                    <tr>
                                                        <td style="padding:36px 48px;display:block">
                                                            <h1 style="font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif;font-size:30px;font-weight:300;line-height:150%;margin:0;text-align:left;color:#ffffff;background-color:inherit">Đơn hàng: @Model.OrderId</h1>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="top">
                                            <table border="0" cellpadding="0" cellspacing="0" width="600">
                                                <tbody>
                                                    <tr>
                                                        <td valign="top" style="background-color:#ffffff">
                                                            <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                                                <tbody>
                                                                    <tr>
                                                                        <td valign="top" style="padding:48px 48px 32px">
                                                                            <div style="color:#636363;font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif;font-size:14px;line-height:150%;text-align:left">
                                                                                <p style="margin:0 0 16px;font-size:18px">Chi tiết thông tin đơn hàng:</p>
                                                                                <h2 style="color:#338218;display:block;font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif;font-size:18px;font-weight:bold;line-height:130%;margin:0 0 18px;text-align:left">
                                                                                    Đơn hàng: @Model.OrderId - @Model.OrderDate
                                                                                </h2>
                                                                            </div>
                                                                            <div style="margin-bottom:40px">
                                                                                <table cellspacing="0" cellpadding="6" border="1" style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;width:100%;font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th scope="col" style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left">Sản phẩm</th>
                                                                                            <th scope="col" style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left">Số lượng</th>
                                                                                            <th scope="col" style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left">Giá</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        @if (orderDetailList != null && orderDetailList.Count > 0)
                                                                                        {
                                                                                            foreach (var item in orderDetailList)
                                                                                            {
                                                                                                <tr>
                                                                                                    <td>@item.Product.ProductName</td>
                                                                                                    <td>@item.Quantity</td>
                                                                                                    <td>@item.Total.Value.ToString("#,##0")@currency</td>
                                                                                                </tr>
                                                                                            }
                                                                                        }
                                                                                    </tbody>
                                                                                    <tfoot>
                                                                                        <tr>
                                                                                            <th scope="row" colspan="2"
                                                                                                style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left;border-top-width:4px">
                                                                                                Nguyên giá:
                                                                                            </th>
                                                                                            <td style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left;border-top-width:4px">
                                                                                                <span>
                                                                                                    @if (Model.Discount.HasValue)
                                                                                                    {
                                                                                                        @((Model.Total + (Model.Total * Model.Discount) / 100).Value.ToString("N0"))
                                                                                                    }
                                                                                                    else
                                                                                                    {
                                                                                                        @Model.Total.Value.ToString("N0")
                                                                                                    }
                                                                                                    <span>₫</span>
                                                                                                </span>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <!--<tr>
                                                                                            <th scope="row" colspan="2"
                                                                                                style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left">
                                                                                                Phương thức thanh toán:</th>
                                                                                            <td
                                                                                                style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left">
                                                                                                Chuyển khoản ngân hàng</td>
                                                                                        </tr>-->
                                                                                        <tr>
                                                                                            <th scope="row" colspan="2"
                                                                                                style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left">
                                                                                                Tổng cộng:
                                                                                            </th>
                                                                                            <td style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left">
                                                                                                <span>@Model.Total.Value.ToString("#,##0")<span>₫</span></span>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tfoot>
                                                                                </table>
                                                                            </div>
                                                                            <table cellspacing="0" cellpadding="0" border="0" style="width:100%;vertical-align:top;margin-bottom:40px;padding:0">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td valign="top" width="50%" style="text-align:left;font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif;border:0;padding:0">
                                                                                            <h2 style="color:#338218;display:block;font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif;font-size:18px;font-weight:bold;line-height:130%;margin:0 0 18px;text-align:left">
                                                                                                Thông tin người nhận
                                                                                            </h2>

                                                                                            <address style="padding:12px;color:#636363;border:1px solid #e5e5e5">
                                                                                                Tên khách hàng: @Model.CustomerName<br>Địa chỉ nhận hàng: @Model.Address<br>Số điện thoại: <a href="tel:@Model.PhoneNumber" style="color:#338218;font-weight:normal;text-decoration:underline" target="_blank">@Model.PhoneNumber</a><br><a href="https://gmail-test.corp.google.com/mail/compose?to=@Model.Email" target="_blank">@Model.Email</a>
                                                                                            </address>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


