@model WebsiteKaichiTokyo.Models.Category

@{
    ViewData["Title"] = "Chi tiết danh mục " + Model.CatName;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="section-header">
    <h1>Chi tiết danh mục @Model.CatName</h1>
</div>
<div class="section-body">
    <div class="card card-warning">
        <div class="card-body">
            <table class="table table-striped table-md text-dark">
                <tr>
                    <td>Mã danh mục:</td>
                    <td>@Model.CatId</td>
                </tr>
                <tr>
                    <td>Tên danh mục:</td>
                    <td>@Model.CatName</td>
                </tr>
                <tr>
                    <td>Tiêu đề danh mục:</td>
                    <td>@Model.Title</td>
                </tr>
                <tr>
                    <td>Mô tả danh mục:</td>
                    <td>@Html.Raw(Model.Description)</td>
                </tr>
                <tr>
                    <td>Danh mục cha:</td>
                    @if (Model.ParentId != 0)
                    {
                        <td>@Model.CatParentName</td>
                    }
                    else
                    {
                        <td>Không có danh mục cha</td>
                    }
                </tr>
                <tr>
                    <td>Levels:</td>
                    <td>@Model.Levels</td>
                </tr>
                <tr>
                    <td>Trạng thái</td>
                    <td>
                        @if (Model.Published)
                        {
                            <div class="badge badge-success">Hoạt động</div>
                        }
                        else
                        {
                            <div class="badge badge-danger">Không hoạt động</div>
                        }
                    </td>
                </tr>
                <tr>
                    <td>Hình ảnh danh mục:</td>
                    <td><img src="~/images/categories/@Model.Thumb" width="200" height="200" alt="@Model.Title" /></td>
                </tr>
                <tr>
                    <td>Mô tả SEO:</td>
                    <td>@Model.MetaDesc</td>
                </tr>
                <tr>
                    <td>Từ khóa SEO:</td>
                    <td>@Model.MetaKey</td>
                </tr>
            </table>
        </div>
        <div class="card-footer">
            <a asp-action="Edit" class="btn btn-success" asp-route-id="@Model?.CatId"><i class="fa fa-pencil space-icon"></i>Chỉnh sửa</a>
            <a asp-action="Index" class="btn btn-dark"><i class="fa fa-reply space-icon"></i>Quay lại</a>
        </div>
    </div>
</div>