@model WebsiteKaichiTokyo.Models.Customer

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Order> orderListCustomer = ViewBag.OrderListCustomer;
}
@section Styles{
    <link href="~/css/style-register-login.css" rel="stylesheet" />
}
<div class="container">
    @if (orderListCustomer != null && orderListCustomer.Count > 0)
    {
        <div class="row mt-2 mb-5 white__bk">
            <div class="col-12">
                <div class="order__details__tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                               aria-selected="true">Thông tin tài khoản</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                               aria-selected="false">Thông tin đơn hàng</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab"
                               aria-selected="false">Đổi mật khẩu</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="order__details__tab__desc">
                                <p>Xin chào @Model.FullName</p>
                                <p>Email: @Model.Email</p>
                                <p>Số điện thoại: @Model.Phone</p>
                                <p>Ngày sinh: @Model.Birthday</p>
                                <p>Địa chỉ: @Model.Address</p>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <div class="order__details__tab__desc">
                                @await Html.PartialAsync("_OrderListCustomerPartial",orderListCustomer)
                            </div>
                        </div>
                        <div class="tab-pane mb-3" id="tabs-3" role="tabpanel">
                            @await Html.PartialAsync("_ChangePasswordPartialView")
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
    else
    {
        <div class="row mt-3 mb-3 white__bk">
            <div class="col-12">
                <h3>
                    Bạn chưa có đơn hàng nào
                </h3>
            </div>
        </div>
    }
    @if (User.Claims.Any(x => x.Type == "CustomerId"))
    {
        <div class="row mt-3 mb-3 white__bk">
            <div class="col-12">
                <a href="/Dang-xuat" class="btn btn-danger">
                    ĐĂNG XUẤT
                </a>
            </div>
        </div>
    }
</div>